@import "tailwindcss";

@font-face {
  font-family: "Nohemi";
  src: url("./assets/fonts/Nohemi/Nohemi-Thin-BF6438cc57e2011.woff")
    format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nohemi";
  src: url("./assets/fonts/Nohemi/Nohemi-ExtraLight-BF6438cc581502c.woff")
    format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nohemi";
  src: url("./assets/fonts/Nohemi/Nohemi-Light-BF6438cc5702321.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nohemi";
  src: url("./assets/fonts/Nohemi/Nohemi-Regular-BF6438cc579d934.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nohemi";
  src: url("./assets/fonts/Nohemi/Nohemi-Medium-BF6438cc57ddecd.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nohemi";
  src: url("./assets/fonts/Nohemi/Nohemi-SemiBold-BF6438cc57db2ff.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nohemi";
  src: url("./assets/fonts/Nohemi/Nohemi-Bold-BF6438cc577b524.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nohemi";
  src: url("./assets/fonts/Nohemi/Nohemi-ExtraBold-BF6438cc5761ae2.woff")
    format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nohemi";
  src: url("./assets/fonts/Nohemi/Nohemi-Black-BF6438cc565e67b.woff")
    format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Monrop/Manrope-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Monrop/Manrope-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Monrop/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Monrop/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Monrop/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Monrop/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Monrop/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* ================================
   Sidebar Custom Scrollbar
   ================================ */
/* scrollbar width */
.sidebar-scrollbar::-webkit-scrollbar {
  width: 12px;
}

/* scrollbar track */
.sidebar-scrollbar::-webkit-scrollbar-track {
  background: #1d243d;
}

/* scrollbar thumb */
.sidebar-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
  border-radius: 10px;
  border: 3px solid #0b1025;
}

.sidebar-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #8a8a8a;
}

/* UP arrow */
.sidebar-scrollbar::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 14px;
  background-color: #1d243d;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='gray'><polygon points='12,6 6,14 18,14'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
}

/* DOWN arrow */
.sidebar-scrollbar::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 14px;
  background-color: #1d243d;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='gray'><polygon points='6,10 18,10 12,18'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
}

@layer components {
  .fc .fc-toolbar-title {
    @apply !text-white !text-xl !font-semibold;
  }

  .fc .fc-button {
    @apply !bg-white !text-black !rounded-lg 
           hover:!bg-gray-700 hover:!text-white 
           !transition-colors;
  }
}
